<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="{% block description %}{% endblock %}">
  <meta name="author" content="">

  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="./css/style.css">
  {% block css %}{% endblock %}

  <link rel="icon" href="./images/favicon.ico">

</head>
<body>

  {% block content %}{% endblock %}

  <script src="./js/main.js"></script>
  {% block js %}{% endblock %}

</body>
</html>
