{% extends '_layouts.njk' %}

{%- block description -%}
This is Nunjucks Templates.
{%- endblock -%}

{%- block title -%}
Nunjucks Templates
{%- endblock -%}

{%- block css -%}
{%- endblock -%}

{%- block js -%}
{%- endblock -%}

{%- block content -%}
<main>
  <p>This is Nunjucks Templates.</p>
</main>
{%- endblock -%}
